.todo-counter {

    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
}

.todo-counter--completed {

    font-size: 24px;
    text-align: center;
    background-image: url(../images/3c0.gif);
    background-size: 5%;
    background-position: 38%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 48px;
    font-weight: normal;
}


span {
    font-weight: bold;
  }

.first{
    color: green
}

.second{
    color: red
}